button {
    float: left;
    width: 150px;
}

input {
    float: left;
    width: 45px;
}

div {
    clear: both;
}

body {
    background-color: lightsteelblue;
    max-width: 610px;
    margin: auto;
}

h1 {
    color: sienna;
    font-size: 25px;
}

h2 {
    color: green;
    font-size: 20px;
}

h3 {
    color: teal;
    font-size: 15px;
}

header {
    background-color: paleturquoise;
}

main {
    background-color: antiquewhite;
}

header p {
    font-weight: bold;
    font-style: italic;
    color:teal;
}