body {
    background-color: lightsteelblue
}

h1 {
    color: green;
    font-size: 25px;
}

h2 {
    color: green;
    font-size: 20px;
}

header {
    background-color: paleturquoise;
}

main {
    background-color: antiquewhite;
}

header p {
    font-weight: bold;
    font-style: italic;
    color:teal;
}

footer {
    background-color:lightskyblue;
    border: black solid thin;
    padding-left: 5px;
    border-radius: 8px; 
}
.red-heading {
    color: red;

}

.blue-text {
    color: blue;
    
}

#new-font {
    font-family: fantasy, cursive, serif;
}

header p {
    font-weight: bold;
    color: blue;
}

figure.border {
    background-color: lightslategray;
    border: black solid thin;
    padding: 5px;
}

figcaption {
    background-color: gold;
    color: black;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: left;
}