body {
    background-color: lightsteelblue;
    max-width: 610px;
    margin: auto;
}

h1 {
    color: green;
    font-size: 25px;
}

h2 {
    color: green;
    font-size: 20px;
}

header {
    background-color: paleturquoise;
}

main {
    background-color: antiquewhite;
}

header p {
    font-weight: bold;
    font-style: italic;
    color:teal;
}

footer {
    background-color:lightskyblue;
    border: black solid thin;
    padding-left: 5px;
    border-radius: 8px; 
}
.red-heading {
    color: red;

}

img {
    max-width: 500px;
    max-height: 500px;
}

.blue-text {
    color: blue;
    
}

#new-font {
    font-family: fantasy, cursive, serif;
}

header p {
    font-weight: bold;
    color: blue;
}

figure {
    margin: left;
    max-width: 500px;
    padding: 5px;
    flex-flow: column;
    display: flex;
    border: thin;
}

figure.border {
    background-color: lightslategray;
    border: black solid thin;
    padding: 5px;
}

figcaption {
    background-color: gold;
    color: black;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: left;
}

nav {        
    background-color: aliceblue;
    border: 1px green solid;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav li {
    display: inline;
    padding: 8px;    
}

.btn-padding {
    padding: 25px;
    border: 10px green double;    
    border-radius: 22px;
}

.btn-padding:hover {
    background-color: aqua;
    border-color: white;
}                   

.btn-margin-padding {
    margin: 25px;
    border: 15px blue;
    border-style: ridge;
    padding-left: 20px;
    padding-right: 20px;
}       

#button-wrapper {
    background-color: aquamarine;
    border: thin black solid;
    display: inline-block;
}

.btn-margin-padding:active {
    background-color: red;
}       

aside {        
    background-color: bisque;
    border: black 1px solid;
    border-radius: 8px;
    float: right;
    font-style: italic;
    margin-right: 5px;
    padding: 8px;
    width: 10%;        
}

.elf-div-border {
    display: inline-block;
    border: thin black 1px solid;
}

foo {
    border: 14 55 66;
}